body {
    background-color:black !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    color:white;
}

.movie-image{
    border: 0;
    padding: 0;
    height: 340px;
    width: 230px;
    margin-bottom: 0;
}

.container{
    padding:20px;
    width: 240px;
}

.content{
    background-color:#fcba03;
    width:230px;
    float:left;
    margin-left:440px;
    opacity: .9;
}

.title {
    margin-top: 5px;
    background-color:  #fcba03;
    width:230px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.title:hover{
    color: white;
    text-decoration: none;
}

.new {
    float: left;
    width: 160px;
    height: 70px;
    background: #fcba03;
    padding: 10px 30px;
    color: white;
    border-radius: 1px;
    border: none;
    font-size: 14px;
    text-align: center;
    margin: 0;
    outline: none;
    font-size: 20px;
    text-decoration: none;
}

.new:hover{
    opacity: .8;
}

#logout {
    float: right;
}


.add {
    width: 50%;
    color: white;
}