body {
    background-color:black !important;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.movie-container {
    border: 2px solid grey;
    border-radius: 10px;
    background-color:white;
    text-align: center;
    width: 370px;
    margin:auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.movie-content{
    background-color: #fcba03;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.movie-title {
    font-size: 35px;
    color:black;
    font-weight: bold;
}

.row {
    font-size: 14px;
    color: white;
}

.image {
    margin-top: 0;
    width: 100%;
    border: 0;
    padding: 0;
}


.description {
    background-color: white;
    color: black;
    text-align: justify !important;
    margin-bottom: 10px;
}

.field {
    text-align: left !important;
    background-color: white !important;
    color:  rgb(94, 93, 93);
    font-weight: bold !important;
    margin-bottom: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}