body {
    background-color:black !important;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.movie-container {
    border: 2px solid black;
    background-color:white;
    text-align: center;
    width: 370px;
    margin:auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.movie-title {
    background-color:  rgba(255, 255, 255, 0.685);
    font-size: 32px;
    color:black;
    font-weight: bold;
}

.row {
    font-size: 14px;
    color: white;
    background-color: black;
}

.image {
    margin-top: 0;
    width: 100%;
    border: 0;
    padding: 0;
}


.description {
    background-color: black;
    color: white;
    text-align: justify !important;
    margin-bottom: 10px;
}

.field {
    text-align: left !important;
    background-color: black !important;
    color:  white;
    margin-bottom: 0px;
}