body {
    background-color:black !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-container {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.808);
    text-align: center;
    width: 370px;
    margin:auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.movie-title {
    background-color: rgba(255, 255, 255, 0.596);
    font-size: 30px;
    color:black;
    font-weight: bold;
}

.row {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.699);
    background-color: black;
}

.image {
    margin-top: 0;
    width: 100%;
    border: 0;
    padding: 0;
}


.description {
    background-color: black;
    color: rgba(255, 255, 255, 0.699);
    text-align: justify !important;
    margin-bottom: 10px;
}

.field {
    text-align: left !important;
    background-color: black !important;
    color: rgba(255, 255, 255, 0.856);
    margin-bottom: 0px;
}