body {
    background-color:black;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: auto;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.start {
    font-size: 29px;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-top: 7px;
}

form.a {
    width: 350px;
    height: 380x;
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
    border-radius: 5px;
}

form.b {
    width: 400px;
    height: 540x;
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
    border-radius: 5px;
    margin-top: 8px;
}

input {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
    margin: 8px auto;
    border-radius: 2px;
}

label {
    color: black;
    font-size: 15px;
    padding: 0px;
}

button {
    float: right;
    background: #fcba03;
    padding: 15px 30px;
    color: white;
    border-radius: 1px;
    margin-top: 25px;
    margin-right: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    opacity: .8;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 5px;
    width: 90%;
    border-radius: 3px;
    margin: 15px auto;
}

.success {
    background: rgb(113, 175, 113);
    color: green;
    padding: 5px;
    width: 90%;
    border-radius: 3px;
    margin: 15px auto;
}

h1 {
    text-align: center;
    color: #fff;
}

.ca {
	font-size: 15px;
	display: inline-block;
	padding: 10px;
    color: black;
    margin-top: 32px;
}

.ca:hover {
	text-decoration: underline;
} 

.image{
    height: 46px;
    width: 100px;
    margin-bottom: 24px;
    margin-top: 20px;
}

.name {
    font-size: 28px;
}

#select {
    font-size: 13px;
}